<template>
  <i-layout-header class="header">
    <i-navbar>
      <i-navbar-items>
        <i-nav> </i-nav>
        <i-nav>
          <i-dropdown placement="bottom-end">
            <i-button variant="primary">{{ me.username }}</i-button>

            <i-dropdown-menu>
              <i-dropdown-item href="" disabled>My Profile</i-dropdown-item>
              <i-dropdown-item href="" disabled>My Settings</i-dropdown-item>
              <i-dropdown-divider />
              <i-dropdown-item href="" @click="logout">Log out</i-dropdown-item>
            </i-dropdown-menu>
          </i-dropdown>
        </i-nav>
      </i-navbar-items>
    </i-navbar>
  </i-layout-header>
</template>

<script>
const Cookie = process.client ? require('js-cookie') : undefined

export default {
  props: {
    me: {
      type: Object,
      default: null,
    },
  },
  methods: {
    logout() {
      this.$store.commit('setAuth', null)
      Cookie.remove('auth')
    },
  },
}
</script>

<style scoped>
.header {
  position: relative;
  z-index: 100;
}
</style>
