<template>
  <div>
    <h3>Favorites</h3>

    <i-container>
      <i-row>
        <i-column xs="4" v-for="(favorite, index) in favorites" :key="index">
          <i-card> <XKCD :data="favorite" /> </i-card>
        </i-column>
      </i-row>
    </i-container>
  </div>
</template>

<script>
import { mapState } from 'vuex'

import XKCD from './XKCD.vue'

export default { computed: mapState(['favorites']), components: { XKCD } }
</script>
