<template>
  <div v-if="source">
    <img :src="source" alt="" />
  </div>
</template>

<script>
export default {
  props: {
    source: {
      type: String,
      default: '',
    },
  },
}
</script>
