<template>
  <div v-if="data && data.title" class="xkcd-block">
    <h4>{{ data.title }}</h4>

    <Media :source="source" />

    <a
      v-if="inFavorites(data.num)"
      href=""
      @click.prevent="() => removeFavorite(data.num)"
      >Remove Favorite</a
    >
    <a v-else href="" @click.prevent="() => addFavorite(data)">Add favorite</a>
  </div>
</template>

<script>
import { mapMutations } from 'vuex'

export default {
  props: {
    data: {
      type: Object,
      default: null,
    },
  },
  computed: {
    source() {
      return `http://localhost:3000/api/v1/media/xkcd-image/${this.data.img
        .split('/')
        .pop()}`
    },
  },
  methods: {
    inFavorites(num) {
      return (
        this.$store.state.favorites.filter((favorite) => favorite.num === num)
          .length > 0
      )
    },
    ...mapMutations(['addFavorite', 'removeFavorite']),
  },
}
</script>

<style>
.xkcd-block img {
  max-width: 100%;
}
</style>
