<template>
  <i-layout>
    <AppHeader v-if="me" :me="me" />
    <i-layout-content>
      <i-container>
        <i-row center-xs>
          <i-column xs="12"> <Nuxt /></i-column>
        </i-row>
      </i-container>
    </i-layout-content>
  </i-layout>
</template>

<script>
import AppHeader from '../components/AppHeader'

export default {
  data() {
    return { me: null }
  },
  methods: {
    fetchMe(auth) {
      return this.$axios.$get('http://localhost:3000/api/v1/auth/me', {
        headers: { Authorization: `Bearer ${auth}` },
      })
    },
  },
  async mounted() {
    if (this.$store.state.auth) {
      this.me = await this.fetchMe(this.$store.state.auth)
    } else {
      this.$store.watch(async ({ auth }) => {
        if (auth) {
          this.me = await this.fetchMe(this.$store.state.auth)
        }
      })
    }
  },
  components: {
    AppHeader,
  },
}
</script>

<style>
html {
  font-family: 'Source Sans Pro', -apple-system, BlinkMacSystemFont, 'Segoe UI',
    Roboto, 'Helvetica Neue', Arial, sans-serif;
  font-size: 16px;
  word-spacing: 1px;
  -ms-text-size-adjust: 100%;
  -webkit-text-size-adjust: 100%;
  -moz-osx-font-smoothing: grayscale;
  -webkit-font-smoothing: antialiased;
  box-sizing: border-box;
}

*,
*::before,
*::after {
  box-sizing: border-box;
  margin: 0;
}

.button--green {
  display: inline-block;
  border-radius: 4px;
  border: 1px solid #3b8070;
  color: #3b8070;
  text-decoration: none;
  padding: 10px 30px;
}

.button--green:hover {
  color: #fff;
  background-color: #3b8070;
}

.button--grey {
  display: inline-block;
  border-radius: 4px;
  border: 1px solid #35495e;
  color: #35495e;
  text-decoration: none;
  padding: 10px 30px;
  margin-left: 15px;
}

.button--grey:hover {
  color: #fff;
  background-color: #35495e;
}
</style>
