<template>
  <div>
    <XKCD v-if="XKCDData" :data="XKCDData" />

    <div>
      Random every (s)
      <i-input-number
        v-model="interval"
        :min="1"
        :max="10"
        placeholder="Type something.."
      />

      <i-toggle v-model="toggled"></i-toggle>
    </div>

    <Favorites />
  </div>
</template>

<script>
import XKCD from '../components/XKCD'
import Favorites from '../components/Favorites'

export default {
  middleware: 'authenticated',
  data() {
    return {
      interval: 4,
      toggled: false,
      me: null,
      XKCDData: null,
      _t: null,
    }
  },
  watch: {
    toggled: function (value) {
      clearTimeout(this._t)

      if (value) {
        this._t = setTimeout(this.tick, this.interval * 1000)
      }
    },
  },
  methods: {
    tick: async function () {
      // fetch a new random one
      await this.fetch()
      // add the new one to the favorites automatically
      this.$store.commit('addFavorite', this.XKCDData)
      // and start over
      this._t = setTimeout(this.tick, this.interval * 1000)
    },
    async fetch() {
      this.XKCDData = await this.$axios.$get(
        'http://localhost:3000/api/v1/xkcd/random',
        {
          headers: { Authorization: `Bearer ${this.$store.state.auth}` },
        }
      )
    },
  },
  components: {
    XKCD,
    Favorites,
  },
  mounted() {
    this.fetch()
  },
}
</script>
