<template>
  <div class="container">
    <i-container>
      <i-row center-xs>
        <i-column xs="4">
          <h2>Log in</h2>

          <i-form>
            <i-form-group class="_text-left">
              <i-form-label size="md">Username</i-form-label>

              <i-input
                v-model="username"
                placeholder="Type something.."
                clearable
              >
                <i slot="prefix">＠</i>
              </i-input>
            </i-form-group>

            <i-form-group class="_text-left">
              <i-form-label size="md">Password</i-form-label>

              <i-input
                type="password"
                v-model="password"
                placeholder="Enter your password.."
              >
                <i slot="prefix">🔒</i>
              </i-input>
            </i-form-group>

            <i-form-group>
              <i-button
                variant="primary"
                @click="postLogin"
                :disabled="username === '' || password === ''"
                >log in</i-button
              >
            </i-form-group>
          </i-form>
        </i-column>
      </i-row>
    </i-container>
  </div>
</template>

<script>
const Cookie = process.client ? require('js-cookie') : undefined

export default {
  middleware: 'notAuthenticated',
  data() {
    return {
      username: '',
      password: '',
    }
  },
  methods: {
    postLogin(event) {
      event.preventDefault()

      this.$axios
        .$post('http://localhost:3000/api/v1/auth/login', {
          username: this.username,
          password: this.password,
        })
        .then(({ access_token }) => {
          this.$store.commit('setAuth', access_token) // mutating to store for client rendering
          Cookie.set('auth', access_token) // saving token in cookie for server rendering
          this.$axios.setToken(access_token, 'Bearer')
          this.$router.push('/')
        })
        .catch((e) => {
          console.error({
            e,
            // status: e.response.data.status,
            // message: e.response.data.message,
          })
        })
    },
  },
}
</script>
